<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
 <head>
  <title>手机评论情感分类演示</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">

<style>
.bars{height:auto;width:50%; float:left;}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; height:auto;}    
.string { color: green; }  
.number { color: darkorange; }
.boolean { color: blue; }   
.null { color: magenta; } 
.key { color: red;}

</style> 
<link rel="stylesheet" href="static/css/nlp.css">
<script src="static/js/jquery-2.1.4.min.js"></script>

<SCRIPT LANGUAGE="JavaScript">
<!--

function UrlPOST(txt,myfun){
	if (txt=="")
	{
		return "error parm"; 
	}
	var httpurl = "/api/v0.1/query"; 
	//alert(httpurl);

	$.ajax({
			type: "POST",
			data: "text="+txt,
			url: httpurl,
			//async:false,
			success: function(data)
			{   
				//alert(data);
				//alert(data['result']);
				//$("#"+ objLabel).html(data['result']);
				//return data
				myfun(data);
			}
	});
}

function showresult(dat){
	r = dat['result'];
	c='共'+r.length+'句内容:\n';
	for(var i=0;i<r.length;i++){
		c+= "第"+ (i+1) + "句:" + r[i] + "\n\n";
	}
	$("#result").html(c);
}

$(document).ready(function(){
	$("#bt_submit").click(function() {  
		var txt = $("#txt").val();
		if (txt=="")
		{ return; }
		var voc = ""; 
		voc = UrlPOST(txt,showresult); 
	}); 
});


//-->
</SCRIPT>

 </head>

<body class="ai-platform">
<div class="nlp-word">
	<div class="word-head">手机评论情感分类演示　版本: {{ version }}</div>
	<div class="word-form">
		<div class="com-text-cover">
			<div class="mid-down-title">
				<span class="down-title-des">请输入待分析的文本：</span>
			</div>
			<textarea name="txt" id="txt" spellcheck="false" maxlength="" class="com-txt" onfocus="this.select()">
手机刚刚到，正在使用中，设计比较漂亮，像素高清，发货很快，服务好。好评！
收货了，立刻就玩了一会！很棒！从荣耀6一直追到荣耀10，膜拜！！华为干的漂亮
手机外观设计漂亮手感也很好，正品。京东商城我个人比较信赖，冰箱电视机手机都从这里购买的。
手机的音质很清晰，目前用起来手机流畅，赠送的礼品很好！我们可是华为的老客户了，家里人用的手机都是华为的，平板电脑也是华为的，华为的质量杠杠的！?
电池耗电比较快
物流很好，手机电池不耐用
外观可以 玩游戏** 卡
颜值很高，电池特别不耐用，给四分吧
人脸解锁很快，希望用着不卡！
手机没毛病，非常好。颜色一定要看好再买！
用过之后来评论，充电挺快的
刚买到手就降价，真的可以，必须赞一个！！！
总的来说，这款手机性价比是特别高的。
槽糕的售后服务！！！店大欺客
买了双11领劵就便宜300还不能保价
充电玩吃鸡直接没电关机
手机经常卡顿，希望换货
以后不在买华为了，视频20分钟，手机发烫的烧手
破手机 耗电贼快 谁买谁知道
正常浏览网页，手机上半部烫的厉害。
当天收到微信就卡死
手机我没什么说的，就京东这物流速度我给零分
破手机，运行个吃鸡都烫了！
运行速度快相机好服务好差
别提了，这个电啊！我都想哭了。
玩游戏5分钟 手机就烫的吓人
只能说电量是真?儿去的快
一个别人买过的货
手机没得说，但是我抢的首发，你30号到就说不过去了。要不我抢首发干嘛？
			</textarea>
			<div class="ed-form-down"><span class="ed-down-tips">提示：无需处理格式，直接复制文本内容即可</span></div>
		</div>
	</div>
	<div class="result-cover">
			<div class="result-left-title">分类结果：
			<input type="button" value=" 提交 " id="bt_submit" />
			</div>
				<textarea name="result" id="result" spellcheck="false" maxlength="" class="com-txt"></textarea> 
			<br/>
	</div>
  </div>

 </body>
</html>
